.hero-banner {
  position: relative;
  color: var(--background-color);
  text-align: center;
  padding: 40px 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-banner-content h1 {
  font-size: var(--heading-font-size-xl);
  margin: 0 0 10px;
}

.hero-banner-content h2 {
  font-size: var(--heading-font-size-m);
  margin: 0 0 20px;
}

.hero-banner-cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--link-color);
  color: var(--background-color);
  text-decoration: none;
  border-radius: 5px;
  font-size: var(--body-font-size-m);
}

.hero-banner-cta:hover {
  background-color: var(--link-hover-color);
}